@import './utils/animations/swiper/swiper-scale-fade.css';
@import './utils/animations/element/button.css';
s model-viewer {
  --poster-color: transparent;
  --progress-bar-color: transparent;
}

@media screen and (min-width: 1440px) {
  .project_pantone-text {
    font-size: 2rem;
  }
}

/* popup contact */
.form_radio.w-radio:has(.w-form-formradioinput.w--redirected-checked) {
  outline: 2px solid rgba(255, 255, 255, 0.2);
}
